/*  your css code here. If applicable */
 *{
        margin: 0px;
        padding: 0px;
    }
    header{
        display: flex;
        width: 100%;
        background-color: #011e29;
        height: 80px;
        justify-content: center;
        align-items: center;
    }
    body{
        background-color:  #f5f5f5;
    }
    .header{
        display: flex;
        background-color: #011e29;
        color: white;
        
    }
    .main-container{
        display: flex;
    }
    .latest-news-section{
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 20vh;
        padding: 20px;
        margin: 20px;
        font-size: 0.8rem;
        background-color: #ffff;
        border-radius: 8px;
        align-items: center;
    }
    .latest-news-section ul{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
    }
    .artical{
        margin: 20px;
        padding: 20px;
        display:flex;
        flex-direction: column;
        width: 60vw;
		height:auto;
		max-height:70vh;
		overflow:auto;
        align-items: center;
        background-color: #ffff;
        border-radius: 8px;
    }
    .artical h3{
        margin-bottom: 10px;
    }
    .pictorial-news-section{
        display: flex;
        flex-direction: column;
        align-items: center;
		 justify-content: center;
        margin: 20px;
        padding: 20px;
        background-color: #ffff;
        border-radius: 8px;
    }
    .image{
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin-top: 10px;
    }
    .image img{
        width: 200px;
        padding: 5px;
    }